{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

<div class="px-6 pt-3">
  <h1 class="text-sm tracking-widest mx-1 uppercase font-normal text-neutral-500 mb-4 ">{{ collection.title }}</h1>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
    {% paginate collection.products by 24 %}
      {% for product in collection.products %}
        {% render 'product-card', 
          product: product,
          image_width: 400,
          image_height: 300
        %}
      {% endfor %}
      <div class="col-span-full mt-8">
        {{ paginate | default_pagination }}
      </div>
    {% endpaginate %}
  </div>
</div>

{% schema %}
{
  "name": "t:general.collection",
  "settings": [],
    "tag": "section"
}
{% endschema %}
