<footer class="flex flex-row justify-between gap-4 p-6">
  <div class="text-sm font-inter opacity-50">
    &copy;
    pulse.supply
  </div>
</footer>

{% schema %}
{
  "name": "t:general.footer",
  "settings": []
}
{% endschema %}
