{% comment %}
  This section is used in the page template to render store pages like About us
  or Contact us.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/page
{% endcomment %}

<div class="px-6 pt-6 pb-12 opacity-75">
    <h1 class="text-lg font-medium mb-4">
        {{ page.title }}
    </h1>
    <div class="prose">
        {{ page.content }}
    </div>
</div>

{% schema %}
{
  "name": "t:general.page",
  "settings": []
}
{% endschema %}
